#начало
Options +FollowSymLinks
RewriteEngine on
RewriteCond %(HTTP_HOST) ^www.localhost$ [NC]
RewriteRule ^(.*)$ http://localhost/$1 [R=301,L]
#переадресует на https
RewriteCond %(SERVER_HOST) !^443$
RewriteRule .*https://%(SERVER_NAME)%{REQUEST_URI} [R=301,L]
#редирект на без слеша
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !\..{1,10}$
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ http://localhost/$1/ [L,R=301]
ErrorDocument 404 http://localhost
